@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

body {
  background-color: #ffac80;
  font-family: 'Work Sans', sans-serif;

}

.active {
  font-weight: bold;
}

.title {
  color: #ff563a;
  font-family: 'Bebas Neue', cursive;
}

input[type="text"],
textarea {
  padding: 1rem;
  background-color: #fed3c4;

}

input[type="text"]::placeholder {
  font-style: italic;
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1;
  /* Firefox */
}

.tab {
  color: #ff563a;
}

.tabs-container,
input[type="text"] {
  border-color: #ff5740
}

.todoitem {
  font-family: 'Bebas Neue', cursive;
  background-color: #fed3c4;
  color: #ff563a;
  border-color: #ff5740;

}

.todoitem .cross {

  color: #ff563a;
  border-color: #ff5740;

}