@import './base.css';



#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

html {
  height: 100vh;
}

body {

  font-family: 'Work Sans', sans-serif;

}

.active {
  font-weight: bold;
}

.title {
  font-family: 'Bebas Neue', cursive;
}

input[type="text"],
textarea {
  padding: 1rem;

}

input[type="text"]::placeholder,
textarea::placeholder {
  font-style: italic;
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1;
  /* Firefox */
}









.todoitem {
  font-family: 'Bebas Neue', cursive;


}