@import './base.css';

:root {
  --colorMain: #444;
  --colorLight: #999;
  --colorAccent: #ddd;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

body {
  background-color: var(--colorLight);
  font-family: 'Work Sans', sans-serif;

}

.active {
  font-weight: bold;
}

.title {
  color: var(--colorMain);
  font-family: 'Bebas Neue', cursive;
}

input[type="text"],
textarea {
  padding: 1rem;
  background-color: var(--colorAccent);

}

input[type="text"]::placeholder {
  font-style: italic;
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--colorMain);
  opacity: 1;
  /* Firefox */
}

.tab {
  color: var(--colorMain);
}

.tabs-container,
input[type="text"] {
  border-color: var(--colorMain)
}

.todoitem {
  font-family: 'Bebas Neue', cursive;
  background-color: var(--colorAccent);
  color: var(--colorMain);
  border-color: var(--colorMain);

}

.todoitem .cross {

  color: var(--colorMain);
  border-color: var(--colorMain);

}